body
{
	background-image: url(Images/fond.png);
}

h1
{
	text-decoration: underline;
}

.center
{
	text-align: center;
	display: inline-block;

}

.bouton
{
	float: left;
	margin-top: 4.35%;
	margin-left: 0.75%;
}

.menu_deroulant
{
	position: absolute;
	z-index: 1000;
	max-height: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

p.titre
{
	font-size: 150%;
	text-decoration: underline;
	font-weight: bold;
	padding-top: 4.5%;
	padding-right: 5%;
	color: #b5e1f1;
	width: 40%;
}

a, a:hover, a:visited
{
	color: #b5e1f1;
	padding-top: 4.5%;
	padding-right: 1%;
}

table, tr, th, td
{
	/*table taille 98%*/
	background-color: white;
	margin-left: 1%;
	text-align: center;
}
th
{
	width: 5%;
	background-color: rgb(231, 227, 183);
}
.JC
{
	width: 19%;
}

/*img
{
	width: 100%;
	display: block;
	margin-top: auto;
	float: center;
}*/
.bandeau
{
	background-image: url(Images/bandeau2.png);
	height: 150px;
	margin-top: 0.75%;
	margin-bottom: 0.5%;
}

div.gauche
{
	text-align: left;
	width: 49%;
	float: left;
	margin-left: 0.5%;
	margin-top: 1%;
}

div.droite
{
	text-align: right;
	width: 49%;
	float: right;
	margin-right: 0.5%;
	margin-top: 1%;
}

.cadre
{
	border-bottom: 1px solid black;
	vertical-align: middle;
}

.middle
{
	padding-top: 3px;
	font-weight: bold;
	font-size: 125%;
}

.border
{
	margin-left: 1%;
}

select
{
	width: 100%;
}


.menu {
  padding:0;
  margin-left: 1.5%;
  list-style:none;
  text-align: center;
  width: 5%;
}
.menu ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
.menu li {
   background-color: rgb(181, 225, 241);
   border-radius: 6px;
   margin-bottom:2px;
}
.menu li li {
   max-height:0;
   overflow: hidden;
   transition: all 1s;
   border-radius:0;
   background: white;
   box-shadow: none;
   border:none;
   margin:0
}
.menu a {
  display:block;
  text-decoration: none;
  color: black;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em;
}
.menu ul li a, .menu li:hover li a {
  font-size:1em;
  text-decoration: none;
}
.menu li:hover {
   background: rgb(181, 225, 241);
}
.menu li li:hover {
   background: white;
}
.menu ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
.menu li:hover li {
  max-height: 15em;
}