body
{
	background-image: url(Images/fond.png);
}

h1
{
	text-decoration: underline;
}

.center
{
	text-align: center;
	display: inline-block;

}

.espaceBouton
{
	margin-right: 3%;
}

.titre
{
	font-size: 300%;
	text-decoration: underline;
	font-weight: bold;
}

table, th, td, tr
{
	background-color: white;
}

img
{
	position: right;
}