body
{
	background-image: url(Images/fond.png);
}

h1
{
	text-decoration: underline;
}

.center
{
	text-align: center;
	display: inline-block;

}

.espaceBouton
{
	margin-right: 3%;
}

p.titre
{
	font-size: 150%;
	text-decoration: underline;
	font-weight: bold;
	padding-top: 4.5%;
	padding-right: 1%;
	color: #b5e1f1;
}

table, th, td, tr
{
	/*table taille 98%*/
	background-color: white;
	margin-left: 1%;
}
th
{
	width: 8%;
}
.JC
{
	width: 16.85%;
}

/*img
{
	width: 100%;
	display: block;
	margin-top: auto;
	float: center;
}*/
.bandeau
{
	background-image: url(Images/bandeau2.png);
	height: 150px;
}

div.gauche
{
	text-align: left;
	width: 49%;
	float: left;
	border: 1px solid black;
	margin-left: 0.5%;
	margin-top: 1%;
}

.txtarea
{
	width: 100%;
	resize: none;
}

div.droite
{
	text-align: right;
	width: 49%;
	float: right;
	border: 1px solid black;
	margin-right: 0.5%;
	margin-top: 1%;
}

.cadre
{
	border-bottom: 1px solid black;
	vertical-align: middle;
}

.middle
{
	padding-top: 3px;
	font-weight: bold;
	font-size: 125%;
}